@import "../../../../shared/ui/button/button.module.scss";
.button {
	@extend .button;
	display: none;
	position: relative;
	right: 10%;
	top: 10%;

	margin: -7%;
	font-size: 0.7rem;
	padding: 1rem;
	&:last-child {
		margin: 1rem 1rem 0 1rem;
	}

	&:hover {
		cursor: pointer;
		background-color: #407bff;
	}
	&:active {
		scale: 1.1;
		transition: 1ms;
	}
	&:disabled {
		&:hover {
			cursor: pointer;
			background-color: grey;
		}
		&:active {
			scale: 1.1;
			transition: 1ms;
		}
	}
	@media (min-width: 768px) {
		display: block;
		position: absolute;
		right: 10%;
		top: 12%;

		font-size: 1.1rem;
	}
	@media (min-width: 1024px) {
		position: absolute;
		right: 10%;
		top: 15%;
		font-size: 1.1rem;
	}
	@media (min-width: 1400px) {
		position: absolute;
		right: 15%;
		top: 15%;
		margin-top: -1%;
		background-color: #407bff;
		color: #ffffff;
		border: none;
		border: 1px solid #ffffff;
	}
}

.vacancies {
	display: flex;
	flex-direction: column;
	color: #407bff;
	margin: 5%;
	align-items: center;
}
.vacancy {
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 1%;
	list-style: none;
	border: 1px solid #407bff;
	border-radius: 25px;
	width: 55%;
}

.article__date {
	display: block;
	color: #407bff;
	margin: 5px 5px 0 0;
}
.articles__title {
	font-size: 2rem;
	color: #407bff;
}

.vacancy__button {
	@extend .button;
	position: relative;

	&:last-child {
		margin: 1rem 1rem 0 1rem;
	}

	&:hover {
		cursor: pointer;
		background-color: #407bff;
	}
	&:active {
		scale: 1.1;
		transition: 1ms;
	}
	&:disabled {
		&:hover {
			cursor: pointer;
			background-color: grey;
		}
		&:active {
			scale: 1.1;
			transition: 1ms;
		}
	}
	@media (min-width: 768px) {
		left: 0.4%;
		font-size: 1.1rem;
	}
	@media (min-width: 1024px) {
		font-size: 1.1rem;
		align-self: flex-end;
		top: 10px;
		right: 20px;
	}
	@media (min-width: 1400px) {
		align-self: end;
		top: 60px;
		left: -50px;
	}
}

.salary {
	font-weight: bold;
	font-size: 1.4rem;
	
}
