.profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: hsl(221, 94%, 96%);
<<<<<<< HEAD
=======

	// background-color: rgb(255, 255, 255);
>>>>>>> 49cd3a4b6579b6c39544701c69581ace98fe7347
}

.profile__username {
	flex-grow: 1;
}

.profile__email {
	flex-grow: 2;
}
.profile__date {
	flex-grow: 4;
}

.profile__isactiv {
	flex-grow: 4;
}

.profile__name {
	flex-grow: 4;
}
