.not-found {
	display: block;
	color: red;
}

.background {
	background: url("../../assets/img/404-mobile.png") no-repeat;
	width: 400px;
	height: 340px;
	margin: 0 auto;
	@media (min-width: 768px) {
		background: url("../../assets/img/404-tablets.png") no-repeat;
		width: 768px;
		height: 768px;
	}
	@media (min-width: 1024px) {
		background: url("../../assets/img/404-min-laptop.png") no-repeat;
		width: 1024px;
		height: 1024px;
	}
	@media (min-width: 1400px) {
		background: url("../../assets/img/404-laptop.png") no-repeat;
		width: 1200px;
		height: 1200px;
	}
}
