@import "../../../../shared//ui/button/button.module.scss";
.header {
	display: flex;
	justify-content: space-between;
}
.active {
	text-decoration: underline;
	color: white;
}
.header__logo {
	width: 3rem;
	height: 3rem;
	margin-top: 15px;
	margin-left: 15px;
	&:hover {
		cursor: pointer;
	}
}
.header__navlink {
	text-decoration: none;
	margin-left: 2rem;
	font-size: 1.5rem;
}

.header__button {
	@extend .button;
	margin: 2rem;
	font-size: 1.1rem;
	&:hover {
		background-color: #1a62ff;
		cursor: pointer;
	}
	&:active {
		scale: 1.1;
		transition: 1ms;
	}
}
