.profile__container {
	display: flex;
	height: 70vh;
	width: 40vw;
	margin-top: 1%;
	justify-content: space-between;
}

.profile__panel {
	background-color: hsl(221, 94%, 68%);
	flex-shrink: 0;

	padding: 15px;
	border-radius: 15px;
}
.profile__content {
	flex: 1 1 auto;
}
