@import "../../../../../shared/ui/button/button.module.scss";
@import "../../../../../pages/RootPage/root-page.module.scss";

.button {
	@extend .button;
	margin: 5%;
	background-color: #ffffff;
	color: #407bff;
	border: none;
	&:hover {
		cursor: pointer;
		background-color: #ffffff;
	}
	&:active {
		scale: 1.1;
		transition: 1ms;
	}
}

.form-wrapper {
	background-color: #407bff;
	width: 80%;
	padding: 5%;
	height: 40%;
	display: inline-block;
	margin: 5%;
	margin-top: 40%;
	border-radius: 20px;
	@media (min-width: 768px) {
		width: 40%;
		padding: 10%;
		height: 40%;
		display: inline-block;
		margin: 20%;
		margin-bottom: 20px;
		border-radius: 20px;
	}
	@media (min-width: 1400px) {
		width: 30%;
		padding: 10%;
		height: 40%;
		display: inline-block;
		margin: 5%;
		margin-bottom: 20px;
		border-radius: 20px;
	}
}

label {
	font-family: sans-serif;
	font-size: 1.2rem;
	display: inline-block;
	color: white;
	margin-right: 1rem;
}

input {
	margin-right: 10px;
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
}
.title {
	color: white;
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: 600;
	padding: 15px 5px;
}
.error {
	color: white;
}
